@model Maps.RouteConfig

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello World</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            @Html.TextBox("Query");
            <input type="submit" />
        }
        <ul>
        @foreach (var suggestion in ViewBag.Results)
        {
            <li>@suggestion</li>
        }
        </ul>
    </div>
</body>
</html>
